---
import Counter from "../components/Counter.ts";
import Hello from "../components/Hello.ts";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <Hello />
    <Hello client:load />

    <Counter client:idle />
  </body>
</html>
